[hub]
  protocol = https

[user]
  name = AUTHORNAME
  email = AUTHOREMAIL

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  status = auto
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = ~/.gitignore
  editor = vim

[apply]
  whitespace = nowarn

[alias]
  diffclear = !git diff -- $(git diff --name-only | grep -Ev "compiled/")
