[submodule "vim/janus.symlink/vim-golang"]
	path = vim/janus.symlink/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git

[submodule "vim/janus.symlink/vim-golang"]
	path = vim-less
	url = git://github.com/groenewege/vim-less.git
